*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 40px;
  text-transform: uppercase;
  color: #386135;
  margin: 10px 0;
}

.textarea {
  padding: 5px;
}

.keyboard-body {
  max-width: 762px;
  margin: 0 auto;
  padding: 5px;
  background-color: #172117;
  border-radius: 3px;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.keyboard-key {
  color: white;
  font-size: 18px;
  background-color: #385238;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
  transition: ease 0.1s;

  &:hover {
    background-color: #486448;
  }

  &:active,
  &.active {
    background-color: #83bd83;
  }
}

.wide {
  width: 100px;
  background-color: #293d29;
}

.med-wide {
  width: 50px;
  background-color: #293d29;
}

.space {
  width: 358px;
}

.hidden {
  display: none;
}
